@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: "Fold Grotesque";
    src: url("/fonts/fold-grotesque-regular-pro.otf");
    font-weight: normal;
  }

  @font-face {
    font-family: "Fold Grotesque";
    src: url("/fonts/fold-grotesque-italic-pro.otf");
    font-style: italic;
  }

  @font-face {
    font-family: "Fold Grotesque";
    src: url("/fonts/fold-grotesque-medium-pro.otf");
    font-weight: bold;
  }

  @font-face {
    font-family: "EH Normal";
    src: url("/fonts/EHNormal-Medium.otf");
  }

  :root {
    --white: #ffffff;
    --black: #010203;
    --blue: #2A4194;
    --yellow: #FFDF6A;
    --light-grey: #ECEAE5;
    --dark-grey: #717070;

    /* Defaults */
    --color-primary: var(--black);
    --color-secondary: var(--white);
    --color-highlight: var(--yellow);
    --color-active: var(--blue);
  }

  .theme-default {
    --color-primary: var(--black);
    --color-secondary: var(--white);
    --color-highlight: var(--yellow);
    --color-active: var(--blue);
  }
  
  .theme-greyscale {
    --color-primary: var(--black);
    --color-secondary: var(--light-grey);
    --color-highlight: var(--dark-grey);
    --color-active: var(--blue);
  }

  .theme-dark {
    --color-primary: var(--white);
    --color-secondary: var(--black);
    --color-highlight: var(--yellow);
    --color-active: var(--light-grey);
  }  
}